In [1]:
import pandas as pd

# Load the CSV files
csv1 = pd.read_csv('./Prepared from Raw/SALES_MASTERDATA_AUDIT.csv')
csv2 = pd.read_csv('./Prepared from Raw/SALES_MASTERDATA.csv')
csv3 = pd.read_csv('./Raw/sales_dump.csv')

# Get the columns from each DataFrame
cols1 = set(csv1.columns)
cols2 = set(csv2.columns)
cols3 = set(csv3.columns)

# Find similar columns
similar_cols = cols1.intersection(cols2).intersection(cols3)

# Convert the result to a list
similar_cols_list = list(similar_cols)

# Display the similar columns
print("Similar columns between the three CSV files:")
print(similar_cols_list)

C:\Users\Yash kanjariya\AppData\Local\Temp\ipykernel_19816\1312910560.py:4: DtypeWarning: Columns (2,23,34,35,38,41,42,44,45,46,58,63,66,67,68,69,70,71,72,73,74,75,78,81,82,84,85,86,98,103,106,107,108,109,110,111,112,113,137,138,139,141,142,143,145,146,147,148,149,156,157,158,159,161) have mixed types. Specify dtype option on import or set low_memory=False.
  csv1 = pd.read_csv('./Prepared from Raw/SALES_MASTERDATA_AUDIT.csv')
C:\Users\Yash kanjariya\AppData\Local\Temp\ipykernel_19816\1312910560.py:5: DtypeWarning: Columns (2,14,23,24,34,35,38,41,42,44,45,46,58,63,66,67,68,69,70,71,72,73,74,75,78,81,82,84,85,86,98,103,106,107,108,109,110,111,112,113) have mixed types. Specify dtype option on import or set low_memory=False.
  csv2 = pd.read_csv('./Prepared from Raw/SALES_MASTERDATA.csv')
C:\Users\Yash kanjariya\AppData\Local\Temp\ipykernel_19816\1312910560.py:6: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  csv3 = pd.read_csv('./Raw/sales_dump.csv')

Similar columns between the three CSV files:
['Date', 'Assign_To', 'Category', 'Sub_Total', 'Server_Name', 'Variation', 'Order_Type', 'SGST_Rate', 'Service_Charge_Rate', 'Service_Charge_Amount', 'Tax', 'Non_Taxable', 'CGST_Rate', 'Phone', 'Status', 'Discount', 'Invoice_No_', 'CGST_Amount', 'Area', 'SGST_Amount', 'Timestamp', 'Price', 'Final_Total', 'Address', 'Name', 'GST', 'Payment_Type', 'Covers', 'Item_Name', 'Qty_', 'HSN', 'VAT_Rate', 'VAT_Amount', 'Table_No_']

In [9]:
print(csv1.head())

         Date                  Timestamp Invoice_No_ Payment_Type Order_Type  \
0  2024-01-13  2024-01-13 20:45:54+00:00       13180         CARD    Dine In
1  2023-10-12  2023-10-12 22:20:37+00:00        7131         Cash    Dine In
2  2023-12-17  2023-12-17 15:01:02+00:00       11414         CARD    Dine In
3  2023-10-22  2023-10-22 22:19:18+00:00        7756         Cash    Dine In
4  2023-12-27  2023-12-27 15:17:28+00:00       12030         Cash    Dine In

           Area      Item_Name  Price  Qty_  Sub_Total  ...  \
0       Dine in  Bottled Water    0.0   1.0        0.0  ...
1       Dine in  Bottled Water    0.0   1.0        0.0  ...
2  Garden Table  Bottled Water    0.0   3.0        0.0  ...
3  Garden Table  Bottled Water    0.0   3.0        0.0  ...
4       Dine in  Bottled Water    0.0   1.0        0.0  ...

   Zomato_Delivery_Time  Swiggy_Delivery_Time  amount_from amount_to  \
0                   NaN                   NaN          NaN       NaN
1                   NaN                   NaN          NaN       NaN
2                   NaN                   NaN          NaN       NaN
3                   NaN                   NaN          NaN       NaN
4                   NaN                   NaN          NaN       NaN

  modified_by modify_comment  electron_pos bill_no invoice_no  date_orap
0         NaN            NaN           NaN     NaN        NaN        NaN
1         NaN            NaN           NaN     NaN        NaN        NaN
2         NaN            NaN           NaN     NaN        NaN        NaN
3         NaN            NaN           NaN     NaN        NaN        NaN
4         NaN            NaN           NaN     NaN        NaN        NaN

[5 rows x 162 columns]
         Date                  Timestamp Invoice_No_ Payment_Type Order_Type  \
0  2023-07-15  2023-07-16 01:03:33+00:00        C245         Cash    Dine In
1  2023-07-14  2023-07-14 21:06:03+00:00        C230         Cash    Dine In
2  2023-07-10  2023-07-10 15:35:08+00:00        C181         Cash    Dine In
3  2023-07-10  2023-07-10 23:18:48+00:00        C186         Cash    Dine In
4  2023-07-04  2023-07-04 23:23:41+00:00        C122         Cash    Dine In

  Area      Item_Name  Price  Qty_  Sub_Total  ...  Invoice_Id_sf  \
0  NaN  Bottled Water    0.0   1.0        0.0  ...            NaN
1  NaN  Bottled Water    0.0   3.0        0.0  ...            NaN
2  NaN  Bottled Water    0.0   2.0        0.0  ...            NaN
3  NaN  Bottled Water    0.0   1.0        0.0  ...            NaN
4  NaN  Bottled Water    0.0   2.0        0.0  ...            NaN

   Table_No_sf  Order_Type_sf Answer_sf Created_sf  PAX  \
0          NaN            NaN       NaN        NaN  NaN
1          NaN            NaN       NaN        NaN  1.0
2          NaN            NaN       NaN        NaN  NaN
3          NaN            NaN       NaN        NaN  NaN
4          NaN            NaN       NaN        NaN  0.0

   Food_Preparation_Time_Z Food_Preparation_Time_S Zomato_Delivery_Time  \
0                      NaN                     NaN                  NaN
1                      NaN                     NaN                  NaN
2                      NaN                     NaN                  NaN
3                      NaN                     NaN                  NaN
4                      NaN                     NaN                  NaN

   Swiggy_Delivery_Time
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN

[5 rows x 141 columns]
         Date                  Timestamp Invoice_No_ Payment_Type Order_Type  \
0  2023-09-25  2023-09-25 21:17:18+00:00        1651         CARD    Dine In
1  2023-07-22  2023-07-22 21:58:41+00:00         585         Cash    Dine In
2  2023-08-03  2023-08-03 22:27:48+00:00         771  Other [UPI]    Dine In
3  2023-08-30  2023-08-30 23:54:01+00:00        1253         CARD    Dine In
4  2023-07-12  2023-07-12 15:32:09+00:00         408         CARD    Dine In

           Area        Item_Name  Price  Qty_  Sub_Total  ...  Assign_To  \
0       Dine in  OLD MONK (DARK)  275.0   2.0      550.0  ...         SM
1  Garden Table  OLD MONK (DARK)  275.0   2.0      550.0  ...        NaN
2       Dine in    BACARDI WHITE  275.0   2.0      550.0  ...         TD
3       Dine in    BACARDI LEMON  275.0   2.0      550.0  ...         SK
4       Dine in  OLD MONK (DARK)  275.0   2.0      550.0  ...         SK

   Non_Taxable  CGST_Rate CGST_Amount SGST_Rate SGST_Amount  VAT_Rate  \
0          0.0        2.5         0.0       2.5         0.0      10.0
1          0.0        2.5         0.0       2.5         0.0      10.0
2          0.0        2.5         0.0       2.5         0.0      10.0
3          0.0        2.5         0.0       2.5         0.0      10.0
4          0.0        2.5         0.0       2.5         0.0      10.0

  VAT_Amount Service_Charge_Rate  Service_Charge_Amount
0       27.5                 5.0                    0.0
1       27.5                 5.0                    0.0
2       27.5                 5.0                    0.0
3       27.5                 5.0                    0.0
4       27.5                 5.0                    0.0

[5 rows x 34 columns]

In [10]:
print(csv2.head())

         Date                  Timestamp Invoice_No_ Payment_Type Order_Type  \
0  2023-07-15  2023-07-16 01:03:33+00:00        C245         Cash    Dine In
1  2023-07-14  2023-07-14 21:06:03+00:00        C230         Cash    Dine In
2  2023-07-10  2023-07-10 15:35:08+00:00        C181         Cash    Dine In
3  2023-07-10  2023-07-10 23:18:48+00:00        C186         Cash    Dine In
4  2023-07-04  2023-07-04 23:23:41+00:00        C122         Cash    Dine In

  Area      Item_Name  Price  Qty_  Sub_Total  ...  Invoice_Id_sf  \
0  NaN  Bottled Water    0.0   1.0        0.0  ...            NaN
1  NaN  Bottled Water    0.0   3.0        0.0  ...            NaN
2  NaN  Bottled Water    0.0   2.0        0.0  ...            NaN
3  NaN  Bottled Water    0.0   1.0        0.0  ...            NaN
4  NaN  Bottled Water    0.0   2.0        0.0  ...            NaN

   Table_No_sf  Order_Type_sf Answer_sf Created_sf  PAX  \
0          NaN            NaN       NaN        NaN  NaN
1          NaN            NaN       NaN        NaN  1.0
2          NaN            NaN       NaN        NaN  NaN
3          NaN            NaN       NaN        NaN  NaN
4          NaN            NaN       NaN        NaN  0.0

   Food_Preparation_Time_Z Food_Preparation_Time_S Zomato_Delivery_Time  \
0                      NaN                     NaN                  NaN
1                      NaN                     NaN                  NaN
2                      NaN                     NaN                  NaN
3                      NaN                     NaN                  NaN
4                      NaN                     NaN                  NaN

   Swiggy_Delivery_Time
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN

[5 rows x 141 columns]

In [11]:

print(csv3.head())

         Date                  Timestamp Invoice_No_ Payment_Type Order_Type  \
0  2023-09-25  2023-09-25 21:17:18+00:00        1651         CARD    Dine In
1  2023-07-22  2023-07-22 21:58:41+00:00         585         Cash    Dine In
2  2023-08-03  2023-08-03 22:27:48+00:00         771  Other [UPI]    Dine In
3  2023-08-30  2023-08-30 23:54:01+00:00        1253         CARD    Dine In
4  2023-07-12  2023-07-12 15:32:09+00:00         408         CARD    Dine In

           Area        Item_Name  Price  Qty_  Sub_Total  ...  Assign_To  \
0       Dine in  OLD MONK (DARK)  275.0   2.0      550.0  ...         SM
1  Garden Table  OLD MONK (DARK)  275.0   2.0      550.0  ...        NaN
2       Dine in    BACARDI WHITE  275.0   2.0      550.0  ...         TD
3       Dine in    BACARDI LEMON  275.0   2.0      550.0  ...         SK
4       Dine in  OLD MONK (DARK)  275.0   2.0      550.0  ...         SK

   Non_Taxable  CGST_Rate CGST_Amount SGST_Rate SGST_Amount  VAT_Rate  \
0          0.0        2.5         0.0       2.5         0.0      10.0
1          0.0        2.5         0.0       2.5         0.0      10.0
2          0.0        2.5         0.0       2.5         0.0      10.0
3          0.0        2.5         0.0       2.5         0.0      10.0
4          0.0        2.5         0.0       2.5         0.0      10.0

  VAT_Amount Service_Charge_Rate  Service_Charge_Amount
0       27.5                 5.0                    0.0
1       27.5                 5.0                    0.0
2       27.5                 5.0                    0.0
3       27.5                 5.0                    0.0
4       27.5                 5.0                    0.0

[5 rows x 34 columns]

In [2]:
merged_df = csv1.merge(csv2, on=list(similar_cols), how='outer').merge(csv3, on=list(similar_cols), how='outer')

# Save the merged DataFrame to a new CSV file
merged_df.to_csv('merged_file.csv', index=False)

# Display the first few rows of the merged DataFrame
print("Merged DataFrame:")
print(merged_df.head())

Merged DataFrame:
         Date                  Timestamp Invoice_No_ Payment_Type Order_Type  \
0  2024-01-13  2024-01-13 20:45:54+00:00       13180         CARD    Dine In
1  2024-01-13  2024-01-13 20:45:54+00:00       13180         CARD    Dine In
2  2024-01-13  2024-01-13 20:45:54+00:00       13180         CARD    Dine In
3  2024-01-13  2024-01-13 20:45:54+00:00       13180         CARD    Dine In
4  2024-01-13  2024-01-13 20:45:54+00:00       13180         CARD    Dine In

      Area      Item_Name  Price  Qty_  Sub_Total  ...  Invoice_Id_sf_y  \
0  Dine in  Bottled Water    0.0   1.0        0.0  ...              NaN
1  Dine in  Bottled Water    0.0   1.0        0.0  ...              NaN
2  Dine in  Bottled Water    0.0   1.0        0.0  ...              NaN
3  Dine in  Bottled Water    0.0   1.0        0.0  ...              NaN
4  Dine in  Bottled Water    0.0   1.0        0.0  ...              NaN

   Table_No_sf_y  Order_Type_sf_y Answer_sf_y Created_sf_y PAX_y  \
0            NaN              NaN         NaN          NaN   NaN
1            NaN              NaN         NaN          NaN   NaN
2            NaN              NaN         NaN          NaN   NaN
3            NaN              NaN         NaN          NaN   NaN
4            NaN              NaN         NaN          NaN   NaN

   Food_Preparation_Time_Z_y Food_Preparation_Time_S_y Zomato_Delivery_Time_y  \
0                        NaN                       NaN                    NaN
1                        NaN                       NaN                    NaN
2                        NaN                       NaN                    NaN
3                        NaN                       NaN                    NaN
4                        NaN                       NaN                    NaN

   Swiggy_Delivery_Time_y
0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN

[5 rows x 269 columns]

In [6]:
merged_df.shape

(544307, 269)

In [7]:
nan_count = merged_df.isna().sum()
print("NaN count for each column:")
print(nan_count)

# Define a threshold for significant NaN removal
# For example, remove columns with more than 30% NaN values
threshold = 0.3 * len(merged_df)

# Remove columns with NaN values above the threshold
cleaned_df = merged_df.loc[:, merged_df.isna().sum() <= threshold]

# Save the cleaned DataFrame to a new CSV file
cleaned_df.to_csv('cleaned_file.csv', index=False)

# Display the first few rows of the cleaned DataFrame
print("Cleaned DataFrame:")
print(cleaned_df.head())

NaN count for each column:
Date                              0
Timestamp                         0
Invoice_No_                       0
Payment_Type                      0
Order_Type                        0
                              ...
PAX_y                        515859
Food_Preparation_Time_Z_y    540344
Food_Preparation_Time_S_y    542148
Zomato_Delivery_Time_y       540378
Swiggy_Delivery_Time_y       542193
Length: 269, dtype: int64
Cleaned DataFrame:
         Date                  Timestamp Invoice_No_ Payment_Type Order_Type  \
0  2024-01-13  2024-01-13 20:45:54+00:00       13180         CARD    Dine In
1  2024-01-13  2024-01-13 20:45:54+00:00       13180         CARD    Dine In
2  2024-01-13  2024-01-13 20:45:54+00:00       13180         CARD    Dine In
3  2024-01-13  2024-01-13 20:45:54+00:00       13180         CARD    Dine In
4  2024-01-13  2024-01-13 20:45:54+00:00       13180         CARD    Dine In

      Area      Item_Name  Price  Qty_  Sub_Total  ...  Assign_To  \
0  Dine in  Bottled Water    0.0   1.0        0.0  ...         MK
1  Dine in  Bottled Water    0.0   1.0        0.0  ...         MK
2  Dine in  Bottled Water    0.0   1.0        0.0  ...         MK
3  Dine in  Bottled Water    0.0   1.0        0.0  ...         MK
4  Dine in  Bottled Water    0.0   1.0        0.0  ...         MK

   Non_Taxable  CGST_Rate CGST_Amount SGST_Rate SGST_Amount  VAT_Rate  \
0          0.0        2.5         0.0       2.5         0.0      10.0
1          0.0        2.5         0.0       2.5         0.0      10.0
2          0.0        2.5         0.0       2.5         0.0      10.0
3          0.0        2.5         0.0       2.5         0.0      10.0
4          0.0        2.5         0.0       2.5         0.0      10.0

  VAT_Amount Service_Charge_Rate  Service_Charge_Amount
0        0.0                 5.0                    0.0
1        0.0                 5.0                    0.0
2        0.0                 5.0                    0.0
3        0.0                 5.0                    0.0
4        0.0                 5.0                    0.0

[5 rows x 28 columns]

In [8]:
cleaned_df.shape

(544307, 28)